body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.navigation-links {
    background-color: rgb(33, 140, 79);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    padding: 0;
    margin-bottom: 20px;
}

.navigation-links a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem; 
    padding: 10px 30px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-links a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    color: white;
}
