.dropdowns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    color: black;
}

.basic-select {
    margin-bottom: 10px;
    width: 50%;
}